<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="title"></title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<body class="containerf-fluid">
<div class=row>
<div class="col-md-3">



</div>
<div class="col-md-9">
<form  th:object="${book}"  method="post"  th:action="@{/books/add}" >


<div class="mb-3">
  <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <input type="text" class="form-control" th:field="*{title}" placeholder="book title">
</div>
<div class="mb-3">
  <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
  
  <input type="number" class="form-control" th:field="*{price}" placeholder="Price">
</div>
<div class="mb-3">
  
  <input type="text" class="form-control" th:field="*{description}" placeholder="name@example.com">
</div>
<div class="mb-3">
  
  <select  class="form-control" th:field="*{category}" >
  <th:block th:each="category:${categories}">
  	<option th:text="${category.name}" th:value="${category.id}"> </option>
  	</th:block>
  </select>
</div>
<input type="submit" class="btn btn-primary" value="register">

</div>

</form>
</div>



</body>
</html>